# Machine Learning

# Iris Species

## Introduction

The objective is to develop a classification model using the Iris dataset and TensorFlow

The data set has five columns:

- sepal length (cm)
- sepal width (cm)
- petal length (cm)
- petal width (cm)
- target

The Iris dataset contains three classes

- Setosa (0)
- Versicolor (1)
- Virginica (2)

each one has 50 records of sepal length and width and petal length and width in centimeters. 

##### Source: Pierian Data

## Data Analysis

## Python, Pandas, Scikit-learn & TensorFlow

Import libraries.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import tensorflow as tf

Load the Iris dataset into a Pandas DataFrame.

In [2]:
df_iris = pd.read_csv("iris.csv")

Explore values and dimensions of the DataFrame.

In [3]:
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [4]:
df_iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [5]:
df_iris.shape

(150, 5)

In [6]:
df_iris.groupby("target").size()

target
0.0    50
1.0    50
2.0    50
dtype: int64

Column names must be adjusted and target column must be casted from float to int.

In [7]:
df_iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [8]:
df_iris.columns = ['sepal_len_cm', 'sepal_w_cm', 'petal_len_cm', 'petal_w_cm', 'target']

In [9]:
df_iris.columns

Index(['sepal_len_cm', 'sepal_w_cm', 'petal_len_cm', 'petal_w_cm', 'target'], dtype='object')

In [10]:
df_iris["target"] = df_iris["target"].apply(int)

After some adjustments, there are no spaces between column names and target column is int type.

In [11]:
df_iris.head()

   sepal_len_cm  sepal_w_cm  petal_len_cm  petal_w_cm  target
0           5.1         3.5           1.4         0.2       0
1           4.9         3.0           1.4         0.2       0
2           4.7         3.2           1.3         0.2       0
3           4.6         3.1           1.5         0.2       0
4           5.0         3.6           1.4         0.2       0

It is time to split the dataset between train and test.

In [12]:
X = df_iris[['sepal_len_cm', 'sepal_w_cm', 'petal_len_cm', 'petal_w_cm']]

In [13]:
y = df_iris["target"]

Data set = Train (70%) & Test (30%)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## Train model

Define feature columns using Tensorflow. Based on the dataset, feature columns must be of type numeric.

In [15]:
feature_columns = []

In [16]:
for col in X.columns:
    feature_columns.append(tf.feature_column.numeric_column(col))

In [17]:
feature_columns

[_NumericColumn(key='sepal_len_cm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='sepal_w_cm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='petal_len_cm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='petal_w_cm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

Define an input function

In order to define an input function and an estimator object, some parameters must be tuned in order to obtain better results

In [18]:
input_fn = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=20, num_epochs=150, shuffle=True)

In this case n_classes is equal to three because there are three types of flowers, hidden units is one of the parameters that defines the structure of the neural network that must be tuned in order to obtain better results.

In [19]:
estimator = tf.estimator.DNNClassifier(hidden_units=[10,10,15,10,10],n_classes=3,feature_columns=feature_columns)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/z6/vzs6bsnx4hn2qr27y9pzrrmw0000gn/T/tmp5f2lpiby
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/z6/vzs6bsnx4hn2qr27y9pzrrmw0000gn/T/tmp5f2lpiby', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a2dca8710>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [20]:
estimator.train(input_fn=input_fn,steps=30)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/z6/vzs6bsnx4hn2qr27y9pzrrmw0000gn/T/tmp5f2lpiby/model.ckpt.
INFO:tensorflow:loss = 21.280293, step = 1
INFO:tensorflow:Saving checkpoints for 30 into /var/folders/z6/vzs6bsnx4hn2qr27y9pzrrmw0000gn/T/tmp5f2lpiby/model.ckpt.
INFO:tensorflow:Loss for final step: 5.1098313.

## Test model

Define an input function. Unlike the previous function, this function only receives the test set because the objective is to get predictions based once the model was trained.

In [21]:
prediction_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [22]:
predictions = list(estimator.predict(input_fn=prediction_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/z6/vzs6bsnx4hn2qr27y9pzrrmw0000gn/T/tmp5f2lpiby/model.ckpt-30
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

Review the predictions.

In [23]:
predictions

[{'logits': array([-2.2779343,  1.6463001,  1.2753551], dtype=float32),
  'probabilities': array([0.01155504, 0.5848504 , 0.40359464], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([ 6.046981  ,  0.00824976, -3.2561164 ], dtype=float32),
  'probabilities': array([9.9753040e-01, 2.3786938e-03, 9.0916466e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-3.163869 ,  1.8996477,  2.2327194], dtype=float32),
  'probabilities': array([0.00263298, 0.41639417, 0.58097285], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 6.4244266e+00,  1.2074150e-03, -3.4619508e+00], dtype=float32),
  'probabilities': array([9.9832851e-01, 1.6207081e-03, 5.0777857e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 5.823807,  0.00987 , -3.134577], dtype=float32),
  'probabilities': array([9.9689543e-01, 2.9763840e-03, 1.2825463e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 6.872129e+00, -6.574627e-03, -3.696753e+00], dtype=float32),
  'probabilities': array([9.9894589e-01, 1.0283926e-03, 2.5676442e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-3.030924 ,  1.7892634,  2.183657 ], dtype=float32),
  'probabilities': array([0.00323705, 0.40135667, 0.5954063 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-2.652321 ,  1.5507458,  1.9402764], dtype=float32),
  'probabilities': array([0.0060009 , 0.40140694, 0.59259206], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-1.379186  ,  1.3956825 ,  0.40830836], dtype=float32),
  'probabilities': array([0.04345751, 0.69690716, 0.25963536], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-2.606558 ,  1.6779257,  1.7003928], dtype=float32),
  'probabilities': array([0.00676686, 0.49103805, 0.5021951 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.0645683,  1.7213788,  2.324906 ], dtype=float32),
  'probabilities': array([0.00294202, 0.352497  , 0.644561  ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-2.9609349,  1.7365823,  2.1503592], dtype=float32),
  'probabilities': array([0.00361586, 0.3965677 , 0.59981644], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-2.9507687,  1.6736785,  2.21947  ], dtype=float32),
  'probabilities': array([0.00358547, 0.36552605, 0.63088846], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 5.4026623 ,  0.03295023, -2.9022722 ], dtype=float32),
  'probabilities': array([9.9512118e-01, 4.6327594e-03, 2.4608703e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 6.1958113 ,  0.01740295, -3.3327782 ], dtype=float32),
  'probabilities': array([9.9785811e-01, 2.0692847e-03, 7.2586365e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 6.5942068e+00, -6.0413443e-03, -3.5515525e+00], dtype=float32),
  'probabilities': array([9.9860269e-01, 1.3581299e-03, 3.9187296e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-2.6780164,  1.5214821,  2.0182924], dtype=float32),
  'probabilities': array([0.0056435 , 0.37615567, 0.61820084], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-1.3745792 ,  1.280771  ,  0.50752336], dtype=float32),
  'probabilities': array([0.04587732, 0.65283275, 0.30129   ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-2.513141 ,  1.5556841,  1.7254906], dtype=float32),
  'probabilities': array([0.00776391, 0.45409694, 0.53813916], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-1.3449482,  1.2626449,  0.4893373], dtype=float32),
  'probabilities': array([0.04801456, 0.6513826 , 0.30060276], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([ 5.578625  ,  0.01862526, -3.004322  ], dtype=float32),
  'probabilities': array([9.9598014e-01, 3.8333051e-03, 1.8651949e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-2.5636394,  1.5900319,  1.7548878], dtype=float32),
  'probabilities': array([0.00715588, 0.45559543, 0.53724873], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-1.957947 ,  1.4436417,  1.0773156], dtype=float32),
  'probabilities': array([0.01929824, 0.5791739 , 0.4015278 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-3.396082 ,  1.8926764,  2.5873792], dtype=float32),
  'probabilities': array([0.00167811, 0.33242893, 0.66589296], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-1.3048381,  1.279171 ,  0.427098 ], dtype=float32),
  'probabilities': array([0.05024686, 0.6657787 , 0.28397447], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-1.7507976 ,  1.4855204 ,  0.77365494], dtype=float32),
  'probabilities': array([0.02569113, 0.6535793 , 0.3207296 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-1.8496233 ,  1.4399854 ,  0.94447035], dtype=float32),
  'probabilities': array([0.02263459, 0.60733956, 0.3700259 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-1.3394779 ,  1.3582929 ,  0.39566305], dtype=float32),
  'probabilities': array([0.04647634, 0.69001555, 0.26350814], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-0.76133764,  0.98146355,  0.06690102], dtype=float32),
  'probabilities': array([0.11107893, 0.63463   , 0.2542911 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-1.4623007 ,  1.4716847 ,  0.43662873], dtype=float32),
  'probabilities': array([0.03776271, 0.71003   , 0.25220728], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([ 5.808349 ,  0.0219298, -3.1249082], dtype=float32),
  'probabilities': array([9.9680930e-01, 3.0591590e-03, 1.3150668e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-2.7152455,  1.6761736,  1.8644334], dtype=float32),
  'probabilities': array([0.00557917, 0.45054576, 0.54387504], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-2.5861766,  1.7524667,  1.5698602], dtype=float32),
  'probabilities': array([0.00707106, 0.54166776, 0.45126122], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-3.0660248,  1.810705 ,  2.2056518], dtype=float32),
  'probabilities': array([0.00305864, 0.40129584, 0.5956455 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-3.1804783,  1.7418491,  2.470072 ], dtype=float32),
  'probabilities': array([0.00236535, 0.32481468, 0.67282   ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 8.000285  , -0.03813505, -4.3070765 ], dtype=float32),
  'probabilities': array([9.9967277e-01, 3.2271305e-04, 4.5168808e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-1.5986122,  1.306395 ,  0.7633   ], dtype=float32),
  'probabilities': array([0.03347101, 0.6113606 , 0.35516834], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([ 4.751155  ,  0.04919088, -2.567454  ], dtype=float32),
  'probabilities': array([9.9035347e-01, 8.9898668e-03, 6.5668731e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([ 6.6117659e+00, -3.6955439e-03, -3.5532980e+00], dtype=float32),
  'probabilities': array([9.9862385e-01, 1.3376534e-03, 3.8438888e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-2.949016 ,  1.7917022,  2.0578108], dtype=float32),
  'probabilities': array([0.00377435, 0.43222514, 0.56400055], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([ 5.301761  ,  0.02842522, -2.854898  ], dtype=float32),
  'probabilities': array([9.9461585e-01, 5.0988789e-03, 2.8527473e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object)},
 {'logits': array([-0.7564517 ,  0.9798011 ,  0.06272846], dtype=float32),
  'probabilities': array([0.11179838, 0.63457143, 0.25363016], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-1.5830427 ,  1.401966  ,  0.64683396], dtype=float32),
  'probabilities': array([0.03323872, 0.6576838 , 0.30907756], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)},
 {'logits': array([-2.5084321,  1.4978827,  1.79627  ], dtype=float32),
  'probabilities': array([0.00769283, 0.42267495, 0.5696321 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object)},
 {'logits': array([-0.56866854,  0.9710303 , -0.13572717], dtype=float32),
  'probabilities': array([0.13879305, 0.64721775, 0.21398917], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object)}]

## Results

The following results were obtained after a tuning of parameters

Confusion matrix and classification report will be used in order to evaluate the results

In [24]:
predictions_single_vals = []

for prediction in predictions:
    predictions_single_vals.append(prediction["class_ids"][0])

In [25]:
print(confusion_matrix(y_test,predictions_single_vals))

[[13  0  0]
 [ 0 15  1]
 [ 0  1 15]]

The first class was predicted correctly at 100%, however the second and third class were predicted at 93%.

In [26]:
print(classification_report(y_test,predictions_single_vals))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       0.94      0.94      0.94        16
           2       0.94      0.94      0.94        16

   micro avg       0.96      0.96      0.96        45
   macro avg       0.96      0.96      0.96        45
weighted avg       0.96      0.96      0.96        45

The above results can be checked with the last report, additionally it can be observed a f1 value of 96% which represents a high accuracy of the model. The model was obtained after tuning the parameters, in this case more tests should be performed in order to avoid an overfitting.